{% extends 'layout.twig' %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Welcome to the Star Tracker 🌕</h1>
        <h2>Create a universe all of your own.</h2>
        
        <div style="margin-top: 30px;">
            <a href="/galaxies" style="margin: 0 10px;">View Galaxies</a>
            <a href="/stars" style="margin: 0 10px;">View Stars</a>
            <a href="/planets" style="margin: 0 10px;">View Planets</a>
        </div>
    </div>
{% endblock %}
